* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: "Be Vietnam Pro", sans-serif;
    list-style: none !important;
}

body {
    background-color: #F7F7F8;
}

.fill_orange {
    background-color: orange;
}

.color_Orange {
    color: orange;
}

.btn2:hover {
    border: 1px solid orange;
    color: black !important;
}

/* ------general css and for anoutcement section ends---------  */
.nav-bar{
   
}
.nav-bar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-bar nav .links {
    position: relative;
}

.nav-bar nav .links ul {
    margin-top: 3%;
    display: flex;
}

.nav-bar nav .links ul a {
    padding: 14px 26px;
    color: #262626;
    font-size: 16px;
    border-radius: 8px;
}

.nav-bar nav .links ul a:hover {
    background-color: #F1F1F3;
}

.selected {
    background-color: #F1F1F3;
}

#hr1 {
    color: rgb(196, 193, 193);
    ;
}

@media screen and (max-width:990px) {
    .nav-bar nav {
        border-bottom: none;
    }

    .nav-bar nav .links {
        position: absolute;
        top: 100%;
        display: block;
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .nav-bar nav .links ul {
        display: block;
        border-bottom: 1px solid rgb(233, 230, 230);
        height: 10;
        background-color: #F7F7F8;
        height: 0px;
        overflow: hidden;
        transition: .5s;
    }

    .nav-bar nav .links ul li {
        padding: 14px 26px;
    }

    .toggle_img {
        display: block !important;
        cursor: pointer;
    }

    .toggle_img img {
        width: 30px;
    }

    #hr1 {
        display: none;
    }
}

/* ------------nav bar ends */
.hero {
    margin-bottom: 100px;
}

.hero .front {
    margin: 100px 0px;
    margin-bottom: 50px;
}

.hero .front .left h1 {
    font-size: 40px;
}

.hero .front .right p {
    color: #59595A;
}

@media screen and (max-width:770px) {
    .hero .front .left h1 {
        font-size: 27px;
    }

    .hero .front {
        margin: 70px 0px 40px 0px;
    }

    .hero {
        margin-bottom: 50px;
    }
}
/* ----------------hero section ended------------ */
.achievements{
    margin-bottom: 100px;
}
.title .description p{
    font-size: 14px;
    color: #59595A;
}
.title .heading h2{
    font-weight: 500 !important;
}
.detail_in_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card{
    
    border-radius: 12px;
}
.card .caption p{
    color: #59595A;
}
/* ---- achievments section ends */
.Our_Goals{
    margin-bottom: 100px;
}
@media screen and (max-width:770px) {
    .detail_in_cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
/* -------Our Goal section ends-------- */
.joining_offer{
   position: relative;
   overflow: hidden;
   margin-bottom: 100px;
   border-radius: 12px;
   height: 320px;
   display: flex;
   align-items: center;
  justify-content: space-around;
}
.joining_offer  img{
   right: 15%;
   position: absolute;
   top: 0%;
   z-index: 0;
}
.joining_offer .content{
    width: 100%;
    z-index: 20;
    position: inherit;
    
}
.anchor {
    width: 200px !important;
}
.specific{
    color: #FF9500;
}
/* --------------joining sectioin ends-------- */
.footer_section {
    margin-top: 100px;
}

.logo_one {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: #262626;
}

.HOme_stack,
.AboutStack {
    margin-right: 50px;
    cursor: pointer;
}

.HOme_stack,
.AboutStack p {
    color: #59595A;
}

.logo_one a {
    color: #262626;
}

.paths i {
    background-color: #eeeef0;
    transition: .5s;
}

.paths i:hover {
    background-color: orange;
    color: #181515;
    transform: translateY(5px);
}

@media screen and (max-width:990px) {

    .wrapper {
        flex-direction: column;
        padding: 0 !important;
        justify-content: center;
        padding: 50px 50px !important;
    }

    .link_section {
        flex-direction: column;
        width: 100%;
    }

    .HOme_stack {
        margin-top: 50px;
    }

    .AboutStack {
        text-align: end;
        width: fit-content;
        margin-top: 50px;
    }

    .footer_section {
        padding: 0 !important;
    }

    .HOme_stack,
    .AboutStack {
        margin-right: 0px;
        width: 50%;
    }

    .Profile_info_stack {
        margin-top: 50px;
        width: 100%;
    }
}