* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: "Be Vietnam Pro", sans-serif;
    list-style: none !important;
}

body {
    background-color: #F7F7F8;
}

.fill_orange {
    background-color: orange;
}

.color_Orange {
    color: orange;
}

.btn2:hover {
    border: 1px solid orange;
    color: black !important;
}

/* ------general css and for anoutcement section ends---------  */
.nav-bar{
   
}
.nav-bar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-bar nav .links {
    position: relative;
}

.nav-bar nav .links ul {
    margin-top: 3%;
    display: flex;
}

.nav-bar nav .links ul a {
    padding: 14px 26px;
    color: #262626;
    font-size: 16px;
    border-radius: 8px;
}

.nav-bar nav .links ul a:hover {
    background-color: #F1F1F3;
}

.selected {
    background-color: #F1F1F3;
}

#hr1 {
    display: ;
    color: rgb(196, 193, 193);
    ;
}

@media screen and (max-width:990px) {
    .nav-bar nav {
        border-bottom: none;
    }

    .nav-bar nav .links {
        position: absolute;
        top: 100%;
        display: block;
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .nav-bar nav .links ul {
        display: block;
        border-bottom: 1px solid rgb(233, 230, 230);
        height: 10;
        background-color: #F7F7F8;
        height: 0px;
        overflow: hidden;
        transition: .5s;
    }

    .nav-bar nav .links ul li {
        padding: 14px 26px;
    }

    .toggle_img {
        display: block !important;
        cursor: pointer;
    }

    .toggle_img img {
        width: 30px;
    }

    #hr1 {
        display: none;
    }
}

/* ------------nav bar ends */
.hero {
    margin-bottom: 100px;
}

.hero .front {
    margin: 100px 0px;
    margin-bottom: 50px;
}

.hero .front .left h1 {
    font-size: 40px;
}

.hero .front .right p {
    color: #59595A;
}

@media screen and (max-width:770px) {
    .hero .front .left h1 {
        font-size: 27px;
    }

    .hero .front {
        margin: 70px 0px 40px 0px;
    }

    .hero {
        margin-bottom: 50px;
    }
}
/* ----------------hero section ended------------ */
.price_tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.price_tags .left-tag {
    background-color: #FCFCFD;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #F1F1F3;
}

.price_tags .left-tag .button {
    background-color: #FFF9F0;
    border: 1px solid #FFEACC;
    padding: 10px;
    font-weight: 500;
}

.price_tags .left-tag .charges h1 {
    font-size: 80px !important;
}

.price_tags .left-tag .charges p {
    font-size: 20px;
    margin-bottom: -30px;
}

.price_tags .left-tag .featuers {
    border: 1px solid #f1f1f3;
}

.price_tags .left-tag .featuers .item {
    border: 1px solid #f1f1f3;
    transition: .6s;
}

.price_tags .left-tag .featuers .item:hover {
    transform: translateX(15px);
}

.price_tags .left-tag .featuers .submit {
    background-color: #FF9500;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px !important;
    margin-top: 40px !important;
    transition: .5s;
}

.price_tags .left-tag .featuers .submit:hover {
    background-color: #be6f01;

}
/* ------- prcie plan details's cards ends------------ */
.foqs_ {
    margin-bottom: 100px;
}

 .q-title {
    font-size: 48px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 20px;
    line-height: 120%;
}

 .q-content {
    font-size: 18px;
    color: #333333;
    margin-bottom: 50px;
    line-height: 150%;
}

 .q-link a {
    font-size: 18px;
    color: #262626;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #eeeef0;
    transition: .5s;
}

 .q-link a:hover {
    background-color: orange;
}

.faq .faq-card {
    border: 1px solid #f1f1f3;
    cursor: pointer;
}

.faq .faq-card .data {
    height: 0px;
    overflow: hidden;
    transition: 1s;
}

.faq .faq-card .header p {
    color: #333333;
}

.faq .footer {
    background-color: #f1f1f3;
    color: #262626;
}

hr {
    margin-top: -20px;
}

.special {
    margin-bottom: -5px;
}

.faq-card.activeee .data {
    height: 300px;

}
/* faqs section ends----------- */
.logo_one {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: #262626;
}

.HOme_stack,
.AboutStack {
    margin-right: 50px;
    cursor: pointer;
}

.HOme_stack,
.AboutStack p {
    color: #59595A;
}

.logo_one a {
    color: #262626;
}

.paths i {
    background-color: #eeeef0;
    transition: .5s;
}

.paths i:hover {
    background-color: orange;
    color: #181515;
    transform: translateY(5px);
}

@media screen and (max-width:990px) {

    .wrapper {
        flex-direction: column;
        padding: 0 !important;
        justify-content: center;
        padding: 50px 50px !important;
    }

    .link_section {
        flex-direction: column;
        width: 100%;
    }

    .HOme_stack {
        margin-top: 50px;
    }

    .AboutStack {
        text-align: end;
        width: fit-content;
        margin-top: 50px;
    }

    .footer_section {
        padding: 0 !important;
    }

    .HOme_stack,
    .AboutStack {
        margin-right: 0px;
        width: 50%;
    }

    .Profile_info_stack {
        margin-top: 50px;
        width: 100%;
    }
}