
* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: "Be Vietnam Pro", sans-serif;
    list-style: none !important;
}

body {
    background-color: #F7F7F8;
}

.fill_orange {
    background-color: orange;
}

.color_Orange {
    color: orange;
}

.btn2:hover {
    border: 1px solid orange;
    color: black !important;
}

/* ------general css and for anoutcement section ends---------  */
.nav-bar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-bar nav .links {
    position: relative;
    margin-top: 0px !important;
}

.nav-bar nav .links ul {
    margin-top: 3%;
    display: flex;
}

.nav-bar nav .links ul a {
    padding: 14px 26px;
    color: #262626;
    font-size: 16px;
    border-radius: 8px;
}

.nav-bar nav .links ul a:hover {
    background-color: #F1F1F3;
}

.selected {
    background-color: #F1F1F3;
}

#hr1 {
    color: rgb(196, 193, 193);
    ;
}

@media screen and (max-width:990px) {
    .nav-bar nav {
        border-bottom: none;
    }

    .nav-bar nav .links {
        position: absolute;
        top: 100%;
        display: block;
        left: 0%;
        width: 100%;
        text-align: center;
        z-index: 10;
    }

    .nav-bar nav .links ul {
        display: block;
        border-bottom: 1px solid rgb(233, 230, 230);
        height: 10;
        background-color: #F7F7F8;
        height: 0px;
        overflow: hidden;
        transition: .5s;
    }

    .nav-bar nav .links ul li {
        padding: 14px 26px;
    }

    .toggle_img {
        display: block !important;
        cursor: pointer;
    }

    .toggle_img img {
        width: 30px;
    }

    #hr1 {
        display: none;
    }
}

/* nav section ended---------------- and hero section begins*/
.hero {
    padding-bottom: 100px !important;
}

.writtenContent {
    margin-top: 100px !important;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.writtenContent .major_heading {
    background-color: #FCFCFD;
    border-radius: 11px;
    position: relative;
    padding: 15px 30px 5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.writtenContent .major_heading img {
    margin-bottom: 10px;
    margin-right: 10px;
}

.major_heading h1 {
    color: #1A1A1A;
    font-size: ;
}

.Abstract {
    position: absolute;
    top: -20px;
    width: 25px;
    left: -20px;
}

.links {
    margin-top: 70px !important;
}

.one {
    background-color: orange;
    color: #fff;
    margin-right: 20px;
    transition: .5s;
}

.one:hover {
    border: 1px solid orange;
    background-color: #fff;
    color: #1A1A1A;
    margin-right: 20px;
}

.small {
    font-size: 14px;
    color: rgb(48, 47, 47);
}

.icons {
    margin-top: 60px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.icons a {
    padding: 30px 50px;
    background-color: white;
    position: relative;
    transition: .5s;
}

.icons a:hover {
    transform: translateY(-5px);
    color: #1A1A1A;
}

.icons a span {
    height: 60px;
    width: 3px;
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #F7F7F8;
}

@media screen and (max-width:700px) {
    .writtenContent .major_heading {
        background-color: #FCFCFD;
        justify-content: start;
        border: 1px solid #F1F1F3;
    }

    .major_heading h1 {
        color: #1A1A1A;
        font-size: 22px;
    }

    .major_heading img {
        width: 54px;
    }

    .writtenContent {
        margin-top: 40px !important;
    }

    .small {
        padding: 0 40px;
        font-size: 18px;
        color: rgb(8, 8, 8);
    }

    .icons {
        margin-top: 50px;
        padding: 10px;
        overflow: hidden;
        width: 100%;
    }

    .links {
        margin-top: 50px !important;
    }

    .icons a {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        transition: .5s;
    }
}

/* hero section ended-------------------------- */
.play {
    padding-bottom: 100px;
}

@media screen and (max-width:770px) {
    .play {
        padding-bottom: 80px;
    }
}

/* -----------------------------video section ended ------------------------ */
/* benefits-----------section ---------------------started---------------- */
.title {
    width: 100%;
}

.title .main {
    font-weight: bold;
    font-size: 38px;
}

.desciption p {
    width: 80%;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    padding-bottom: 100px;
    color: #333333;
}

.cards .card1 {
    transition: .5s;
    border-radius: 7px !important;
}

.cards .card1:hover {
    transform: translateY(-10px);
    border-radius: 7px !important;
}

.card1 .card1 small {
    color: #4C4C4D !important;
}

.cards .card1 img {
    width: 50px;
}

@media screen and (max-width:770px) {
    .desciption {
        display: block !important;
    }

    .desciption p {
        margin-bottom: 50px !important;
    }
}

/* ---------------benefits section ends------------ */
.course_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
}

.flex1 {
    transition: .5s;
    margin: 0 20px !important;
    margin-bottom: 20px !important;
}

/* .flex1:hover {
    transform: scale(1.01);
} */

.flex1 img {
    transition: .5s;
}
/* 
.flex1 img:hover {
    transform: scale(1.009);
} */

.flex1 .img-links a {
    border: 1px solid #f1f1f3;
    padding: 5px 10px;
    color: #4C4C4D;
    border-radius: 8px;
    font-size: 18px;
}

.flex1 .img-links p {
    color: #262626;
}

.flex1 .img-heading h2 {
    color: #262626;
    font-size: 24px;
}

.flex1 .img-caption p {
    font-size: 14px;
    color: #4C4C4D;
}

.flex1 .img-btn {
    width: 100%;
    background-color: #F7F7F8;
    border: 1px solid #FCFCFD;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.flex1 .img-btn a {
    color: #262626;
    font-weight: 500;
}

@media screen and (max-width:770px) {
    .cards {
        padding-bottom: 50px;
    }
}

/* -------course card section ends --------------------- */
.testim_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.testim_cards .testim_cards1 {
    border-radius: 12px;
    transition: .5s;
}

.testim_cards .testim_cards1:hover {
    transform: translateY(-15px);
}

.testim_cards .testim_cards1 .message p {
    color: #4C4C4D;
}

.testim_cards .testim_cards1 .profile {
    background-color: #FCFCFD;

}

.testim_cards .testim_cards1 a {
    color: #262626;
    background-color: #f6f6f8;
    padding: 8px 16px;
    border-radius: 8px;

}

@media screen and (max-width:770px) {
    .testim_cards {
        padding-bottom: 50px;
    }
}

/* testimonial seciton ended---------------and pricing section begins------------ */
.price_tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.price_tags .left-tag {
    background-color: #FCFCFD;
    border-radius: 12px;
    padding: 30px;
    border: 1px solid #F1F1F3;
}

.price_tags .left-tag .button {
    background-color: #FFF9F0;
    border: 1px solid #FFEACC;
    padding: 10px;
    font-weight: 500;
}

.price_tags .left-tag .charges h1 {
    font-size: 80px !important;
}

.price_tags .left-tag .charges p {
    font-size: 20px;
    margin-bottom: -30px;
}

.price_tags .left-tag .featuers {
    border: 1px solid #f1f1f3;
}

.price_tags .left-tag .featuers .item {
    border: 1px solid #f1f1f3;
    transition: .6s;
}

.price_tags .left-tag .featuers .item:hover {
    transform: translateX(15px);
}

.price_tags .left-tag .featuers .submit {
    background-color: #FF9500;
    color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px !important;
    margin-top: 40px !important;
    transition: .5s;
}

.price_tags .left-tag .featuers .submit:hover {
    background-color: #be6f01;

}

/* ------------------ends pricing section ----------- */
.querstions {
    margin-bottom: 100px;
}

.querstions .q-title {
    font-size: 48px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 20px;
    line-height: 120%;
}

.querstions .q-content {
    font-size: 18px;
    color: #333333;
    margin-bottom: 50px;
    line-height: 150%;
}

.querstions .q-link a {
    font-size: 18px;
    color: #262626;
    padding: 18px 24px;
    border-radius: 8px;
    border: 1px solid #eeeef0;
    transition: .5s;
}

.querstions .q-link a:hover {
    background-color: orange;
}

.faq .faq-card {
    border: 1px solid #f1f1f3;
    cursor: pointer;
}

.faq .faq-card .data {
    height: 0px;
    overflow: hidden;
    transition: 1s;
}

.faq .faq-card .header p {
    color: #333333;
}

.faq .footer {
    background-color: #f1f1f3;
    color: #262626;
}

hr {
    margin-top: -20px;
}

.special {
    margin-bottom: -5px;
}

.faq-card.activeee .data {
    height: 300px;

}

/* ----------------------testimonial section ended------------ */

.logo_one {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    color: #262626;
}

.HOme_stack,
.AboutStack {
    margin-right: 50px;
    cursor: pointer;
}

.HOme_stack,
.AboutStack p {
    color: #59595A;
}

.logo_one a {
    color: #262626;
}

.paths i {
    background-color: #eeeef0;
    transition: .5s;
}

.paths i:hover {
    background-color: orange;
    color: #181515;
    transform: translateY(5px);
}

@media screen and (max-width:990px) {

    .wrapper {
        flex-direction: column;
        padding: 0 !important;
        justify-content: center;
        padding: 50px 50px !important;
    }

    .link_section {
        flex-direction: column;
        width: 100%;
    }

    .HOme_stack {
        margin-top: 50px;
    }

    .AboutStack {
        text-align: end;
        width: fit-content;
        margin-top: 50px;
    }

    .footer_section {
        padding: 0 !important;
    }

    .HOme_stack,
    .AboutStack {
        margin-right: 0px;
        width: 50%;
    }

    .Profile_info_stack {
        margin-top: 50px;
        width: 100%;
    }
}